.exchanges-list-header {
  color: #5e80ff;
  font-size: 1.3rem;
  width: 100%;
  padding-left: 1.5em;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.exchanges-list {
  width: 100%;
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  padding-left: 1.5em;
}

.bar-chart-inner-container {
  margin-top: 0;
  /* height: 100%; */
  width: 45%;
  background-color: white;
  padding: 1.5em;
  border-radius: 1.5em;
}

.bar-chart-inner-container + .bar-chart-inner-container {
  margin-left: 1.5em;
}

/* @media */
/* as screen gets bigger increase left margin */
/* increase bar chart width */

.exchange-icon-and-rank-flex {
  display: flex;
  justify-content: space-between;
  /* border: red 1px solid; */
}

.exchange-rank {
  margin-top: 0;
  display: flex;
  margin-left: auto;
  background-color: #5e80ff;
  color: white;
  border-radius: 0.7em;
  padding: 0.3em 0.7em;
  height: 80%;
  display: inline-block;
  font-size: 0.9rem;
}

.bar-chart-actual-container {
  margin-top: 0.7em;
  width: 100%;
  /* border: 1px solid red; */
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.barchart-volume-header {
}

.barchart-volume {
  margin-top: 0.4em;
  font-size: 1.2rem;
}

.tick text {
  font-size: 10px !important;
}

.horizontal-grid-line {
  display: none !important;
}
