.bitcoin-and-ethereum-market-container {
  margin-top: 4.9rem;
  /* border: 1px solid red; */
  padding: 0em 1em;
  margin-right: 1rem;
}

.bitcoin-and-ethereum-headers {
  color: #fed425;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}

.bitcoin-price-and-percentage,
.ethereum-price-and-percentage {
  display: flex;
  margin-top: 0.9rem;
}

.btc-and-eth-market-price {
  font-size: 1.1rem;
}

.bitcoin-price-and-percentage div,
.ethereum-price-and-percentage div {
  color: white;
}

.bitcoin-price-and-percentage div + div,
.ethereum-price-and-percentage div + div {
  margin-top: 0;
  margin-left: 0.5em;
  font-size: 0.9rem;
  padding-top: 0.2em;
}

.bitcoin-and-ethereum-percent-change-on-blue {
  /* background-color: rgb(255, 255, 255, 0.8); */
}

.bitcoin-and-ethereum-percent-parentheses {
  position: relative;
  bottom: 1px;
}

.bitcoin-market-volume,
.ethereum-market-volume {
  color: white;
  font-size: 1.1rem;
  margin-top: 0.9rem;
}

@media screen and (min-height: 1065px) {
  .bitcoin-and-ethereum-market-container {
    /* margin-top: 6.3rem; */
    margin-top: 5.1rem;
  }
}

@media screen and (min-height: 1090px) {
  .bitcoin-and-ethereum-market-container {
    /* margin-top: 6.3rem; */
    margin-top: 5.2rem;
  }
  .bitcoin-market-volume,
  .ethereum-market-volume {
    margin-top: 0.91rem;
  }
  .bitcoin-price-and-percentage,
  .ethereum-price-and-percentage {
    margin-top: 0.91rem;
  }
}

/*  */
@media screen and (min-height: 1105px) {
  .bitcoin-and-ethereum-market-container {
    /* margin-top: 6.3rem; */
    margin-top: 5.34rem;
  }
  .bitcoin-market-volume,
  .ethereum-market-volume {
    margin-top: 0.97rem;
  }
  .bitcoin-price-and-percentage,
  .ethereum-price-and-percentage {
    margin-top: 0.97rem;
  }
}

@media screen and (min-height: 1110px) {
  .bitcoin-and-ethereum-market-container {
    /* margin-top: 6.3rem; */
    margin-top: 5.37rem;
  }
  .bitcoin-market-volume,
  .ethereum-market-volume {
    margin-top: 0.98rem;
  }
  .bitcoin-price-and-percentage,
  .ethereum-price-and-percentage {
    margin-top: 0.98rem;
  }
}

@media screen and (min-height: 1145px) {
  .bitcoin-and-ethereum-market-container {
    /* margin-top: 6.3rem; */
    margin-top: 5.5rem;
  }
  .bitcoin-and-ethereum-headers {
    font-size: 1.25rem;
  }
}
