/* .coin-details-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
  border: 1px solid red;
} */

/* .coin-details-info-pair div + div {
  margin-top: 0.1em;
  color: grey;
} */

#green {
  color: green;
}

#red {
  color: red;
}

/*  */
.coin-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid red; */
  /* margin-left: 3.1em; */
  margin-left: 1.5em;
  height: 100%;
}

/* .coin-header-rank {
  display: flex;
  margin-left: 3.82em;
  background-color: #5e80ff;
  color: white;
  border-radius: 0.7em;
  padding: 0.3em 0.7em;
  font-size: 0.9rem;
} */

/* .coin-header-rank > div {
  margin-top: 0;
} */

.coin-header-name-symbol-container {
  display: flex;
  align-items: center;
  margin-top: 0.6em;
  /* border: 1px solid red; */
}
.coin-header-name-symbol-container > div {
  margin-top: 0;
}
.coin-header-image-container {
  /* border: 1px solid fuchsia; */
  /* padding-left: 3.4em; */
}

.header-icon {
  width: 40px;
  position: relative;
  top: 2px;
}

.coin-header-name {
  color: #5e80ff;
  font-weight: bold;
  font-size: 2.1rem;
  /* padding-left: 3.7rem; */

  letter-spacing: 0.08rem;
}

.coin-header-symbol {
  color: #5e80ff;
  padding-top: 0.6em;
  /* color: grey; */
  font-size: 1.1rem;
  margin-left: 0.5em;
  letter-spacing: 0.08rem;
  /* border: 1px solid rgb(158, 154, 101); */
}

.parentheses-chart-header {
  position: relative;
  bottom: 2px;
}

.username-heading {
  font-size: 2rem;
  padding-left: 1.5em;
}

.coin-header-price-container {
  display: flex;
  align-items: center;
  /* padding-left: 3.7em; */
  margin-top: 0.6em;
  /* border: 1px solid purple; */
}

.coin-header-price-container > div {
  margin-top: 0em;
}

.coin-header-price {
  color: #5e80ff;
  font-weight: bold;
  font-size: 1.7rem;
  letter-spacing: 0.04rem;
}

.coin-header-percent {
  margin-left: 0.5em;
  padding-top: 0.3em;
  font-size: 1.1rem;
  letter-spacing: 0.04rem;
}
