.chart-controls {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid rgb(179, 179, 14); */
  /* height: 10%;
  
  position: absolute;
  top: 236px;
  margin-left: -328px;
  z-index: 5; */
  /* position: relative;
  left: 5px; */
}

.chart-controls div {
  margin-top: 0;
  padding: 0.3em 0.7em;
  font-size: 1.05rem;
  /* border: 1px solid rgb(227, 163, 227);*/
}

.chart-controls div + div {
  margin-left: 0.2em;
}

.chart-controls div:hover {
  color: white;
  background-color: rgb(227, 163, 227);
  border-radius: 0.6em;
  cursor: pointer;
}

#clicked {
  color: white;
  background-color: rgb(227, 163, 227);
  border-radius: 0.6em;
}
