.coin-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  /* border-radius: 1em; */
  width: 100%;
  border: 1px solid teal;
  padding: 0.3em 0.8em;
}

.coin-row div {
  /* display: inline-block; */
  margin-top: 0;
  /* padding: 1em; */
}

.star-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  width: 4%;
}

.star-container > img {
  width: 100%;
  border: 1px solid red;
}

.coin-row-rank {
  border: 1px solid salmon;
}

.coin-row-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  width: 4%;
}

.icon {
  width: 30px;
  border: 1px solid orange;
}

.coin-row > svg {
  width: 125px;
}

/* .sparkline-container {
  width: 50px;
  border: 1px solid grey;
} */

/* .chart {
  display: inline-block;
  border: 1px solid green;
} */

.coinlist-navlink {
  font-size: 1.2rem;
  margin-top: 0;
  text-decoration: none;
  color: black;
  border: 1px solid plum;
}

.coin-row-symbol {
  border: red 1px solid;
}

.coin-row-parentheses {
  position: relative;
  bottom: 2px;
}
