.coinlist-navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  width: 100%;
  padding-left: 0rem;
  padding-right: 7.5rem;
  margin-top: 1.8em;
}

.coinlist-navigation-current-page {
  background-color: #5e80ff;
  border-radius: 0.4em;
  padding: 0.2em 0.5em;
  color: white;
}

.coinlist-showing-number {
  /* color: #5e80ff; */
}

.coinlist-navigation-container div {
  margin-top: 0;
  /* border: 1px solid red; */
}

.coin-list-navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid purple; */
  width: 50%;
}
