.coinlist-header {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  width: 100%;
  /* flex-grow: 1; */
  padding-left: 1.5em;
  position: relative;
}

.coinlist-header div + * {
  margin-top: 0;
}

.coinlist-header-secondary-container {
  /* border: gold 1px solid; */
  height: 100%;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 146.5%;
  padding: 0em 0em 1.5em 1.5em;
}

.coinlist-header-inner-container {
  display: flex;
  align-items: center;
  /* background-color: rgb(255, 255, 255, 0.1); */
  /* background-color: white; */
  border-radius: 1em 1em 0em 0em;
  width: 100%;
  /* border: 1px solid blue; */
  padding: 0.8em 1.1em;
}

.coinlist-header-inner-container div {
  /* color: #998ce3; */
  font-size: 1.1rem;
  letter-spacing: 0.07rem;
  font-weight: 500;
}

.coinlist-header-rank {
  width: 4.5%;
  /* border: 1px solid red; */
  text-align: center;
  color: #3b60e5;
}

.coinlist-header-spacer {
  width: 10%;
}

.coinlist-header-name {
  width: 19%;
  /* border: 1px solid red; */
  color: #3b60e5;
}

.coinlist-header-name > div {
  margin-left: 0.8rem;
  /* border: 1px solid red; */
}

.coinlist-header-price {
  width: 15%;
  /* border: 1px solid red; */
  text-align: center;
  color: #3b60e5;
}

.coinlist-header-percent24hr {
  width: 15%;
  /* border: 1px solid red; */
  text-align: center;
  color: #fed425;
}

.coinlist-header-percent {
  width: 14%;
  /* border: 1px solid red; */
  text-align: center;
  color: #fed425;
}

@media screen and (min-width: 1405px) {
  .coinlist-24hr-percent {
    color: #3b60e5;
  }
}

.coinlist-header-sparkline {
  width: 23.5%;
  /* border: 1px solid red; */
  text-align: center;
  color: #fed425;
}
