.coinlist-secondary-container {
  border: 1px solid purple;
  padding: 1.5em;
  /* height: 100%; */
  width: 100%;
}

/* bottom flex box */
.coinlist {
  /* background-color: #ededfe; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  /* flex-grow: 1;
  overflow: scroll; */
  border: 1px solid tan;
}
