.coin-row {
  display: flex;
  align-items: center;
  background-color: white;
  /* background-color: rgb(255, 255, 255, 0.5); */
  width: 100%;
  border: 1px solid rgb(239, 239, 239);
  padding: 0.8em 1.1em;
  /* min-height: 14%; */
  height: 98px;
}

.coin-row div {
  /* display: inline-block; */
  margin-top: 0;
  /* padding: 1em; */
}

/* .star-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  width: 4%;
}

.star-container > img {
  width: 100%;
  border: 1px solid red;
} */

.coin-row-rank {
  /* border: 1px solid salmon; */
  text-align: center;
  width: 4.5%;
}

.coin-row-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
  width: 10%;
}

.icon {
  width: 30px;
  /* border: 1px solid orange; */
}

.coinlist-navlink {
  width: 100%;
  margin-top: 0;
  text-decoration: none;
  width: 19.5%;
  height: 100%;
  /* border: 1px solid blue; */
}

.navlink-flex-box-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* border: 1px solid plum; */
  height: 100%;
  margin-left: 0.8rem;
}

.coinlist-name {
  /* border: 1px solid rgb(112, 73, 112); */
  font-size: 1.1rem;
  color: #5e80ff;
  font-weight: bold;
  letter-spacing: 0.02rem;
}

.coin-row-symbol {
  /* border: red 1px solid; */
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  color: grey;
  padding-top: 0.3rem;
}

.coin-row-parentheses {
  position: relative;
  bottom: 2px;
}

.coin-row-price {
  /* border: 1px solid blue; */
  width: 15%;
  text-align: center;
}

.coin-row-percent-change {
  /* border: 1px solid red; */
  width: 14%;
  text-align: center;
}

.sparkline-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
  padding: 0em 0.5em;
  height: 100%;
}
.coin-row > svg {
  margin-top: 0;
  width: 23%;
  /* border: 1px solid green; */
}
