.login-buttons-container {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  width: 100%;
  padding: 0.5em;
}

.login-button,
.signup-button {
  text-align: center;
  padding: 0.6em 1.2em;
  width: 125px;
  background-color: #fed425;
  /* border: 1px solid rgb(227, 163, 227); */
  border-radius: 1.5em;
  margin: 0.5em;
}

.login-button {
}

.signup-button {
  /* margin-top: 0; */
}

.login-button:hover,
.signup-button:hover {
  color: white;
  background-color: rgb(227, 163, 227);
}
