/* .login-buttons-container {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.5em;
} */

.login-button,
.signup-button {
  margin-top: 0;
  text-align: center;
  padding: 0.6em 0.8em;
  width: 110px;
  background-color: #fed425;
  /* border: 1px solid rgb(227, 163, 227); */
  border-radius: 1.5em;
  /* margin: 0.5em; */
}

.login-button {
}

.signup-button {
  margin-left: 1em;
  /* margin-top: 0; */
}

.login-button:hover,
.signup-button:hover {
  color: white;
  background-color: rgb(227, 163, 227);
}

.logout-button {
  position: relative;
}

.welcome-message {
  position: absolute;
  font-size: 1.35rem;
  font-weight: 500;
  color: rgb(249, 143, 244);
  right: 700px;
  top: 22px;
  letter-spacing: 0.02em;
}
