.background-mask {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background-color: rgba(117, 125, 145, 0.2); */
  width: 100vw;
  visibility: hidden;
  transition: all 350ms ease-in-out;
}

.login-container {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  width: 430px;
  height: 725px;
  padding: 2em 2.5em;
  border: 1px solid rgb(220, 220, 220);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  border-radius: 1em;
}

.form-input {
  margin-top: 0.6rem;
  padding: 0.4rem 0.7rem;
  font-size: 0.8rem;
  border-radius: 1.25em;
}

.heading {
  font-size: 1.5rem;
  letter-spacing: 0.02em;
}

.form-input-headings {
  /* font-weight: 500; */
  letter-spacing: 0.02em;
}

.login-paragraph {
  line-height: 1.35rem;
}

.form-disclaimer {
  font-size: 0.9rem;
  line-height: 1.35rem;
}

.close-button {
  width: 35px;
  position: absolute;
  right: 30px;
  top: 15px;
}

.close-button:hover {
  background-color: rgba(104, 104, 104, 0.05);
}

.link {
  color: purple;
}

.link:hover {
  cursor: pointer;
}

.login-form-button {
  display: block;
  margin-top: 1.5rem;
  padding: 0.8em 1em;
  border: 1px solid #5e80ff;
  border-radius: 1.25em;
  background-color: white;
  font-size: 0.85em;
  letter-spacing: 0.02em;
}

.signup-form-button {
  display: block;
  margin-top: 1.5rem;
  padding: 0.8em 1em;
  border: 1px solid #5e80ff;
  border-radius: 1.25em;
  background-color: white;
  font-size: 0.85em;
  letter-spacing: 0.02em;
}

.login-form-button:hover,
.signup-form-button:hover {
  color: white;
  background-color: #5e80ff;
  cursor: pointer;
}

#hidden {
  visibility: hidden;
}

#visible {
  visibility: visible;
  /* remember what is being transitioned is opacity on background color */
  background-color: rgba(117, 125, 145, 0.7);
  transition: all 350ms ease-in-out;
}

#login-container-visible {
  animation: scale-in-ver-center 0.35s cubic-bezier(0.05, 0.53, 0.34, 1) both;
}

@keyframes scale-in-ver-center {
  0% {
    transform: scaleY(0);
    /* could maybe shift this even lower (i.e. 80% or more?) */
    transform-origin: 0% 60%;
    opacity: 0;
  }
  20% {
    /* could maybe shift this even lower (i.e. 80% or more?) */
    transform-origin: 0% 60%;
    opacity: 0.1;
  }
  100% {
    transform: scaleY(1);
    /* could maybe shift this even lower (i.e. 80% or more?) */
    transform-origin: 0% 60%;
    opacity: 1;
  }
}

#login-container-hidden {
  animation: scale-out-vertical-center 0.35s ease-out both;
}

@keyframes scale-out-vertical-center {
  0% {
    transform: scaleY(1);
    transform-origin: 0% 60%;
    opacity: 1;
  }
  80% {
    transform-origin: 0% 60%;
    opacity: 0.1;
  }
  100% {
    transform: scaleY(0);
    transform-origin: 0% 60%;
    opacity: 0;
  }
}
