.portfolio-chart-controls {
  display: flex;
  align-items: center;
  /* border: 1px solid yellow; */
  height: 10%;
  position: absolute;
  top: 236px;
  margin-left: -328px;
  z-index: 5;
}

.portfolio-chart-controls div {
  margin-top: 0;
  padding: 0.3em 0.8em;
  /* border: 1px solid rgb(227, 163, 227);*/
}

.portfolio-chart-controls div + div {
  margin-left: 0.5em;
}

.portfolio-chart-controls div:hover {
  color: white;
  background-color: rgb(227, 163, 227);
  border-radius: 1em;
}

#clicked {
  color: white;
  background-color: rgb(227, 163, 227);
  border-radius: 1em;
}
