.portfolio-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid red; */
  /* margin-left: 3.1em; */
  margin-left: 1.5em;
  height: 100%;
}

.portfolio-header-name {
  color: #5e80ff;
  font-weight: bold;
  font-size: 2.1rem;
  /* padding-left: 3.7rem; */
  letter-spacing: 0.08rem;
  margin-top: 0.25em;
}

.portfolio-account-value-container {
  display: flex;
  align-items: center;
  margin-top: 0.7rem;
  /* border: 1px solid purple; */
}

.portfolio-account-value-container > div {
  margin-top: 0em;
}

.portfolio-header-price {
  color: #5e80ff;
  font-weight: bold;
  font-size: 1.7rem;
  letter-spacing: 0.04rem;
}

.portfolio-header-percent {
  margin-left: 0.5em;
  padding-top: 0.3em;
  font-size: 1.1rem;
  letter-spacing: 0.04rem;
}

.portfolio-header-id {
  margin-top: 0.7rem;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.04rem;
  color: #5e80ff;
  letter-spacing: 0.04rem;
}

.account-number-stars {
  position: relative;
  top: 4px;
}
