.portfolio-chart-controls {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.portfolio-chart-controls div {
  margin-top: 0;
  padding: 0.3em 0.7em;
  font-size: 1.05rem;
}

.portfolio-chart-controls div + div {
  margin-left: 0.2em;
}

.portfolio-chart-controls div:hover {
  color: white;
  background-color: rgb(227, 163, 227);
  border-radius: 0.6em;
  cursor: pointer;
}

#clicked {
  color: white;
  background-color: rgb(227, 163, 227);
  border-radius: 0.6em;
}
