.searchbar-container {
  margin-top: 0;
  /* border: 1px solid red; */
  width: 45%;
  /* max-height: 35%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  position: relative;
  margin-bottom: auto;
  padding-right: 1.5em;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 1px solid grey; */
  position: relative;
}

.search-form > input {
  font-size: 0.8rem;
  width: 100%;
  padding: 0.7em;
  padding-left: 3.5em;
  border-radius: 1.3em;
}

.search-form > img {
  margin-top: 0;
  position: absolute;
  width: 30px;
  left: 15px;
  bottom: 6px;
}
