.trending-coins-list-and-navigation {
  margin-top: 0.5em;
  /* border: 1px solid teal; */
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.trending-coins-scroll-flex {
  display: flex;
  align-items: center;
  /* border: 1px solid yellowgreen; */
  /* font-size: 1.2rem; */
}

.trending-coins-header {
  color: #5e80ff;
  font-size: 1.3rem;
  width: 100%;
  /* padding-left: 1.5em; */
  letter-spacing: 0.09rem;
  font-weight: bold;
}

.trending-coins-header + * {
  margin-top: 0;
}

.trending-coins-navigation {
  color: rgb(244, 195, 246);
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 45%;
}

.trending-coins-navigation + * {
  /* display: inline-block; */
}

.trending-coins-navigation > img {
  margin-top: 0;
  margin-left: 0.5em;
  height: 15px;
  /* border: 1px solid red; */
}

.trending-coins-list-container {
  margin-top: 1.15em;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
}

.trending-coin-container {
  margin-top: 0;
  /* border: 1px solid red; */
  background-color: white;
  /* may want to make a very slight grey border around white elements */
  border: 1px solid rgb(236, 236, 236);
  padding: 1em;
  width: 200px;
}
.trending-coin-container + .trending-coin-container {
  margin-left: 0.5em;
}

.trending-coin-image-and-rank-container {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid pink; */
}

.trending-coin-image-and-rank-container > img {
  width: 40px;
}

.trending-coin-rank {
  position: inline-block;
  margin-top: 0;
  color: white;
  background-color: grey;
  padding: 0.1em;
  height: 50%;
}

.trending-coin-symbol-and-name {
  display: flex;
  align-items: flex-start;
  /* border: 1px solid orange; */
}

.trending-coin-symbol {
  font-size: 1.2rem;
}

.trending-coin-name {
  /* display: flex;
  justify-content: flex-end; */
  margin-top: 0;
  margin-left: 0.5em;
  color: grey;
  /* border: 1px solid red; */
  height: 100%;
  margin-top: 0.25em;
  font-size: 0.9rem;
}

.trending-coin-price {
  margin-top: 0.7rem;
  font-size: 1.2rem;
}

.trending-coin-percent-change-24hr {
  margin-top: 0.5em;
}

.green {
  color: green;
}

.red {
  color: red;
}
