:root {
  font-size: 1.2rem;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* + * {
  margin-top: 1.2em;
}

body {
  background-color: #c3d3fb;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 90vh;
  min-width: 1000px;
  margin: 2.5em 3em;
  border-radius: 2.5em;
  background-color: #f1f6fc;
  position: relative;
  overflow: hidden;
}

.color-block {
  position: absolute;
  right: -33px;
  top: -14px;
  /* z-index: -1; */
}

.sidebar-flex {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 18%;
  height: 100%;
  background-color: #e9f2ff;
  padding-right: 1.75em;
  padding-left: 1.75em;
}

.main-content-flex {
  margin-top: 0;
  /* margin-left: 1em; */
  display: flex;
  /* border: solid 1px orange; */
  height: 100%;
  width: 82%;
  z-index: 5;
}

.middle-flex {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid greenyellow; */
  width: 65%;
  height: 100%;
  padding-top: 2.5em;
}

.heading-and-searchbar-flex {
  display: flex;
  align-items: flex-end;
  width: 100%;
  /* border: solid 1px rgb(53, 237, 53); */
  min-height: 16%;
}

/* .heading-and-searchbar-flex div {
  margin-top: 0;
} */

.chart-container {
  margin-top: 0;
  /* border: 1px solid aqua; */
  width: 100%;
  /* max-height: 55%; */
  min-height: 42%;
}

/* .coinlist-container {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  border: 1px solid red;
  border-radius: 0em 0em 0em 1.5em;
  overflow: scroll;
} */

.coinlist-container {
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
  width: 100%;
  flex-grow: 1;
  padding-left: 1.5em;
  position: relative;
}

/* .green {
  color: green;
}

.red {
  color: red;
} */

/* .chart {
  margin-left: 3em;
} */

.right-flex {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  border: white 1px solid;
  /* margin: 2.5em 1.5em 2.5em 1.5em; */
  padding: 2.5em 1.75em 2.5em 1.5em;
}

.login-and-searchbar-flex {
  display: flex;
  /* border: 1px solid rgb(226, 166, 123); */
  align-self: flex-end;
}
